:php
  /**
   * <%= themeName %> template for displaying Archives
   *
   * @package WordPress
   * @subpackage <%= themeName %>
   * @since <%= themeName %> 1.0
   */
.footer

  <!-- @exclude -->
  script(src="//localhost:35729/livereload.js")
  <!-- @endexclude -->
- wp_footer()
